.drawer_list {
    &__listitem {
        margin-top: 20px !important;
    }

    &__text {
        font-size: 1.5rem !important;
        font-weight: 400;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 10px;
        cursor: pointer;
    }

    &__application_menu {
        margin-top: 80px;
    }

    &__action_menu {
        margin-top: 170px;
    }
}