.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    background: #0A1230;
    border-radius: 15px;
    width: 66.3rem;
    min-height: 500px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0 20px;
        margin-top: 30px;

        &__table_title {
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        &__btn_filter {
            background: #36A1FF !important;
            border-radius: 50px !important;
        }

        &__add_new {
            background: #EC1086 !important;
            border-radius: 50px !important;
        }
    }

    &__table {
        background: #0A1230 !important;
        max-height: 420px;

        &__col {
            background: #0A1230 !important;
            color: white !important;

            &__sortable {
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                gap: 8px !important;
                cursor: pointer;
            }
        }

        &__row {
            color: #d6d6d6 !important;

            &__text_overflow {
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__icon {
                cursor: pointer;
            }

            &__name {
                display: flex;
                width: 200px;
                justify-content: start;
                align-items: center;

                &__getname {
                    margin-left: 36px;
                }
            }
        }
    }
}