.table {
    background: #0A1230 !important;

    &__col {
        color: white !important;
        background: #0A1230 !important;
        text-align: center !important;
    }

    &__row {
        color: #d6d6d6 !important;
        text-align: center !important;

        &__icon {
            cursor: pointer;
        }

        &__name {
            display: flex;
            width: 200px;
            justify-content: start;
            align-items: center;
        }
    }
}